<!--Team Section-->
<section class="team-section team-page-section">
  <div class="auto-container">
      
        <div class="row clearfix">
          <!--Team Member-->
            <div class="team-member-two col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <img src="assets/images/resource/team-5.jpg" alt="" />
                    </div>
                    <div class="lower-box">
                      <h3><a href="#">Rashed Kabir.</a></h3>
                        <div class="designation">Senior Cleaner</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <p>Name:</p>
              <p>Email:</p>
              <p>AvatarUrl:</p>
              <p>Phone:</p>
          </div>
        </div>
    </div>
</section>
<!--End Team Section-->
