<!--Team Section-->
<section class="team-section team-page-section">
  <div class="auto-container">
      
        <div class="row clearfix">
          <!--Team Member-->
            <div class="team-member-two col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <img [src]="customer.photoURL" alt="" />
                    </div>
                    <div class="lower-box">
                      <!-- <h3><a href="#">Rashed Kabir.</a></h3> -->
                        <!-- <div class="designation">Senior Cleaner</div> -->
                    </div>
                </div>
            </div>
            <div *ngIf="authService.customerData" class="col-md-6 col-sm-12 col-xs-12">
              <p>Name: {{customer.displayName}}</p>
              <p>Email: {{customer.email}}</p>
              <p>Phone: </p>
          </div>
        </div>
    </div>
</section>
<!--End Team Section-->
