      <!--Main Slider-->
      <section class="main-slider">
        
        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                <ul>
                  
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/image-4.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="assets/images/main-slider/image-4.jpg"> 
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['750','750','650','550']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['-85','-90','-80','-75']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                      <h2 class="text-center">Best Place for Laundry & <br> Dry Cleaning</h2>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-whitespace="normal"
                    data-width="['700','700','500','400']"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['35','25','15','15']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                      <div class="text text-center">Giving you more time for what matters most.</div>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['600','600','400','320']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['120','105','90','95']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                      <div class="text-center">
                        <a href="about.html" class="theme-btn btn-style-one">Learn More</a>
                        </div>
                    </div>
                    
                    </li>
                    
                    <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="assets/images/main-slider/image-2.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="assets/images/main-slider/image-2.jpg">
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['750','750','650','550']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['-85','-90','-80','-75']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                      <h2 class="text-center">Best Place for Laundry & <br> Dry Cleaning</h2>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-whitespace="normal"
                    data-width="['700','700','500','400']"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['35','25','15','15']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                      <div class="text text-center">Giving you more time for what matters most.</div>
                    </div>
                    
                    <div class="tp-caption tp-resizeme" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['600','600','400','320']"
                    data-whitespace="normal"
                    data-hoffset="['0','0','0','0']"
                    data-voffset="['120','105','90','95']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;text-transform:left;">
                      <div class="text-center">
                        <a href="about.html" class="theme-btn btn-style-one">Learn More</a>
                        </div>
                    </div>
                    
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </section>
    <!--End Main Slider-->
    
    <!--Clothes Section-->
    <section class="clothes-section style-two">
      <div class="auto-container">
          <!--Clothes Title-->
          <div class="clothes-title">
              <h2>We are the company who will take <br> care of your cloth</h2>
                <div class="text">We are professionals in the laundry and dry cleaning business, which means we always stay up to date on the latest technologies, cleaning methods, and solutions for dealing with stains</div>
            </div>
            <div class="row clearfix">
        
                <!--Cloth Block Two-->
                <div class="cloth-block-two col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="services-2.html"><img src="assets/images/resource/cloth-4.jpg" alt="" /></a>
                        </div>
                        <div class="lower-box">
                          <h3><a href="services-2.html">Wash & Fold Laundry <br> Service</a></h3>
                            <a href="services-2.html" class="theme-btn btn-style-six">Read More</a>
                        </div>
                    </div>
                </div>
                
                <!--Cloth Block Two-->
                <div class="cloth-block-two col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="services-2.html"><img src="assets/images/resource/cloth-5.jpg" alt="" /></a>
                        </div>
                        <div class="lower-box">
                          <h3><a href="services-2.html">Commercial Laundry <br> Service</a></h3>
                            <a href="services-2.html" class="theme-btn btn-style-six">Read More</a>
                        </div>
                    </div>
                </div>
                
                <!--Cloth Block Two-->
                <div class="cloth-block-two col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="services-2.html"><img src="assets/images/resource/cloth-6.jpg" alt="" /></a>
                        </div>
                        <div class="lower-box">
                          <h3><a href="services-2.html">Self Service and <br> Laundromat</a></h3>
                            <a href="services-2.html" class="theme-btn btn-style-six">Read More</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    <!--Fluid Section One-->
    <section class="fluid-section-one">
      <div class="outer-container clearfix">
          <!--Image Column-->
            <div class="image-column" style="background-image:url(assets/images/resource/image-3.jpg);">
              <figure class="image-box"><img src="assets/images/resource/image-3.jpg" alt=""></figure>
            </div>
          <!--Content Column-->
            <div class="content-column">
              <div class="inner-box">
                  <h2>Our business experties Provide <br> you the great value</h2>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a great laorit menandri. Ei justo complectitur duo. Ei mundi solet ut soletu mel possit quo. Sea cu justo laudem.</p>
                        <p>An utinam consulatu eos, est facilis suscipiantur te, vim te iudico delenit voluptatibus. Te eos accusam repudiandae.</p>
                    </div>
                    <div class="clearfix">
                        <div class="author-info pull-left">
                            <h4>Rashed ka.</h4>
                            <div class="designation">CEO & Founder of Bonsi</div>
                        </div>
                        <div class="pull-right signature">
                            <div class="signature-inner">
                                <img src="assets/images/resource/signature.png" alt="" />
                            </div>
                        </div>
                    </div>
        </div>
            </div>
        </div>
    </section>
    <!--End Fluid Section One-->
    
    <!--Fun Facts Section-->
    <div class="fact-counter-section" style="background-image:url(assets/images/background/1.jpg)">
        <div class="fact-counter">
            <div class="auto-container">
                <div class="row clearfix">
                
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="6000" data-stop="28359">0</span>
                            </div>
                            <h4 class="counter-title">Dry Cleaning</h4>
                        </div>
                    </div>
            
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="4000" data-stop="6730">0</span>
                            </div>
                            <h4 class="counter-title">Satisfied Client</h4>
                        </div>
                    </div>
            
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="2000" data-stop="7">0</span>
                            </div>
                            <h4 class="counter-title">Years Expereince</h4>
                        </div>
                    </div>
            
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                            <div class="count-outer count-box">
                                <span class="count-text" data-speed="2000" data-stop="1230">0</span>
                            </div>
                            <h4 class="counter-title">Expert Worker</h4>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--End Fun Facts Section-->
    
    <!--Works Section-->
    <section class="works-section" style="background-image:url(assets/images/resource/image-2.png)">
      <div class="auto-container">
          <!--Sec Title-->
            <div class="sec-title centered">
              <h2>Check How It Works</h2>
            </div>
            <div class="row clearfix">
              <!--Work Block-->
                <div class="work-block col-md-3 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="icon-box">
                          <span class="icon flaticon-smartphone-1"></span>
                            <span class="number">1</span>
                        </div>
                        <h3><a href="services-2.html">Register as a <br> member</a></h3>
                    </div>
                </div>
                
                <!--Work Block-->
                <div class="work-block col-md-3 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="icon-box">
                          <span class="icon flaticon-transportation-truck"></span>
                            <span class="number">2</span>
                        </div>
                        <h3><a href="services-2.html">We pick up your <br> cloths</a></h3>
                    </div>
                </div>
                
                <!--Work Block-->
                <div class="work-block col-md-3 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="icon-box">
                          <span class="icon flaticon-washing-machine"></span>
                            <span class="number">3</span>
                        </div>
                        <h3><a href="services-2.html">We clean your <br> cloths</a></h3>
                    </div>
                </div>
                
                <!--Work Block-->
                <div class="work-block col-md-3 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="icon-box">
                          <span class="icon flaticon-shirt"></span>
                            <span class="number">4</span>
                        </div>
                        <h3><a href="services-2.html">Return your clean <br> cloths</a></h3>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Works Section-->
  
    <!--Testimonial Section-->
    <section class="testimonial-section" style="background-image:url(assets/images/background/2.jpg)">
      <div class="auto-container">
          <!--Sec Title-->
            <div class="sec-title centered light">
              <h2>Our csutomer loves us!</h2>
            </div>
            <div class="two-item-carousel owl-carousel owl-theme">
            
              <!--Testimonial Block-->
              <div class="testimonial-block">
                  <div class="inner-box">
                      <div class="text">The heights by great men reached kept were attained by sudden flight, but the companion slept, tooiling upward in the night.</div>
                        <div class="clearfix">
                        <div class="author">Shimon Chi  / <span>California</span></div>
                        <div class="quote-icon flaticon-left-quote"></div>
                        </div>
                    </div>
                </div>
                
                <!--Testimonial Block-->
              <div class="testimonial-block">
                  <div class="inner-box">
                      <div class="text">The heights by great men reached kept were attained by sudden flight, but the companion slept, tooiling upward in the night.</div>
                        <div class="clearfix">
                        <div class="author">Shimon Chi  / <span>California</span></div>
                        <div class="quote-icon flaticon-left-quote"></div>
                        </div>
                    </div>
                </div>
                
                <!--Testimonial Block-->
              <div class="testimonial-block">
                  <div class="inner-box">
                      <div class="text">The heights by great men reached kept were attained by sudden flight, but the companion slept, tooiling upward in the night.</div>
                        <div class="clearfix">
                        <div class="author">Shimon Chi  / <span>California</span></div>
                        <div class="quote-icon flaticon-left-quote"></div>
                        </div>
                    </div>
                </div>
                
                <!--Testimonial Block-->
              <div class="testimonial-block">
                  <div class="inner-box">
                      <div class="text">The heights by great men reached kept were attained by sudden flight, but the companion slept, tooiling upward in the night.</div>
                        <div class="clearfix">
                        <div class="author">Shimon Chi  / <span>California</span></div>
                        <div class="quote-icon flaticon-left-quote"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Testimonial Section-->
    
    <!--Price Section-->
    <section class="price-section">
      <div class="auto-container">
          <!--Sec Title-->
            <div class="sec-title centered">
              <h2>Our Price</h2>
                <div class="text">Choose your price with no hidden cost and also you can request us for custom price</div>
            </div>
            <div class="row clearfix">
            
              <!--Price Block-->
                <div class="price-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="title">10 cloths</div>
                        <div class="price">$15.99<span>/ m</span></div>
                        <ul>
                          <li>1 pairs of jeans</li>
                            <li>4 t-shirts</li>
                            <li>3 button-down shirts</li>
                            <li>1 pair of shorts</li>
                        </ul>
                        <a href="#" class="theme-btn btn-style-three">Signup</a>
                    </div>
                </div>
                
                <!--Price Block-->
                <div class="price-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="title">20 cloths</div>
                        <div class="price">$26.99<span>/ m</span></div>
                        <ul>
                          <li>1 pairs of jeans</li>
                            <li>4 t-shirts</li>
                            <li>3 button-down shirts</li>
                            <li>1 pair of shorts</li>
                        </ul>
                        <a href="#" class="theme-btn btn-style-three">Signup</a>
                    </div>
                </div>
                
                <!--Price Block-->
                <div class="price-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="title">50 cloths</div>
                        <div class="price">$53.99<span>/ m</span></div>
                        <ul>
                          <li>1 pairs of jeans</li>
                            <li>4 t-shirts</li>
                            <li>3 button-down shirts</li>
                            <li>1 pair of shorts</li>
                        </ul>
                        <a href="#" class="theme-btn btn-style-three">Signup</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Price Section-->
    
    <!--App Section-->
    <section class="app-section" style="background-image:url(assets/images/background/3.jpg)">
      <div class="auto-container">
          <div class="row clearfix">
              <!--Image Column-->
              <div class="image-column col-md-5 col-sm-12 col-xs-12">
                  <div class="image">
                      <img src="assets/images/resource/mobile.png" alt="" />
                    </div>
                </div>
                <!--Content Column-->
              <div class="content-column col-md-7 col-sm-12 col-xs-12">
                  <div class="inner-column">
                      <div class="title">don’t miss our new apps</div>
                        <h2>Get Our <span class="theme_color">Mobile Apps</span> for Easy <br> & Convenient Usage</h2>
                        <div class="btns-box">
                          <a href="#" class="theme-btn btn-style-four"><span class="flaticon-apple-logo"></span>Apple Store</a>
                            <a href="#" class="theme-btn btn-style-seven"><span><img src="assets/images/resource/google-icon.png" alt="" /></span>Google Play</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End App Section-->
    
    <!--News Section-->
    <section class="news-section">
      <div class="auto-container">
          <!--Sec Title-->
            <div class="sec-title centered">
              <h2>Latest News</h2>
            </div>
            
            <div class="row clearfix">
              
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="blog-single.html"><img src="assets/images/resource/news-1.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <div class="post-date">28 Apr, 2016</div>
                            <h3><a href="blog-single.html">Astronomy binoculars & great alternative</a></h3>
                            <a href="blog-single.html" class="detail">More Details <span class="arrow flaticon-arrow-pointing-to-right"></span></a>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="blog-single.html"><img src="assets/images/resource/news-2.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <div class="post-date">28 Apr, 2016</div>
                            <h3><a href="blog-single.html">Astronomy binoculars & great alternative</a></h3>
                            <a href="blog-single.html" class="detail">More Details <span class="arrow flaticon-arrow-pointing-to-right"></span></a>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a href="blog-single.html"><img src="assets/images/resource/news-3.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <div class="post-date">28 Apr, 2016</div>
                            <h3><a href="blog-single.html">Astronomy binoculars & great alternative</a></h3>
                            <a href="blog-single.html" class="detail">More Details <span class="arrow flaticon-arrow-pointing-to-right"></span></a>
                        </div>
                    </div>
                </div>              
      </div>
            
        </div>
    </section>
    <!--End News Section-->
    
    <!--Map Section-->
    <section class="map-section">
        <!--Map Outer-->
        <div class="map-outer">
            <!--Map Canvas-->
            <div class="map-canvas"
                data-zoom="12"
                data-lat="-37.817085"
                data-lng="144.955631"
                data-type="roadmap"
                data-hue="#ffc400"
                data-title="Envato"
                data-icon-path="assets/images/icons/map-marker.png"
                data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
            </div>
        </div>
    </section>
    <!--End Map Section-->
    