<header class="main-header header-style-two">
    
  <!--Header Top-->
  <div class="header-top">
      <div class="auto-container">
          <div class="inner-container clearfix">
                <div class="top-left">
                    <ul class="clearfix">
                        <li><a href="#"><span class="icon fa fa-phone"></span> 077 604 1283</a></li>
                        <li><a href="#"><span class="icon fa fa-envelope"></span> sasithdo@gmail.com</a></li>
                        <li><a href="#"><span class="icon fa fa-clock-o"></span> Mon-Sat:  9:00am-8:30pm , Sun: 9:30am-2:00pm</a></li>
                    </ul>
                </div>
                <div class="top-right clearfix">
                    <ul class="social-icon-two">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

  <!--Header-Upper-->
    <div class="header-upper">
      <div class="auto-container">
          <div class="clearfix">
              
              <div class="pull-left logo-outer">
                  <div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt="" title=""></a></div>
                </div>
                
                <div class="nav-outer clearfix">
                
                    <!-- Main Menu -->
                   <app-navigation></app-navigation>
                    
                    <!-- Main Menu End-->
                    <div class="outer-box">
                        <a [routerLink]="['/packages']" class="theme-btn btn-style-five">Place Order</a>
                    </div>
                    
              </div>
                
            </div>
        </div>
    </div>
    <!--End Header Upper-->
    
    <!--Sticky Header-->
    <div class="sticky-header">
      <div class="auto-container clearfix">
          <!--Logo-->
          <div class="logo pull-left">
              <a href="index.html" class="img-responsive"><img src="assets/images/logo-small.png" alt="" title=""></a>
            </div>
            
            <!--Right Col-->
            <div class="right-col pull-right">
              <!-- Main Menu -->
              <app-navigation></app-navigation>
              <!-- Main Menu End-->
            </div>
            
        </div>
    </div>
    <!--End Sticky Header-->

</header>
