<!--Page Title-->
<section class="page-title" style="background-image:url(assets/images/background/4.jpg)">
  <div class="auto-container">
      <h1>Error</h1>
        <ul class="bread-crumb clearfix">
            <li><a href="index.html">Home</a></li>
            <li class="active">404</li>
        </ul>
    </div>
</section>
<!--End Page Title-->

<!--Error Section-->
<section class="error-section">
  <div class="auto-container">
        <div class="error-big-text">404</div>
        <h2>Opps!! Looks like somthing went wrong</h2>
        <div class="text">The page you are looking for was moved, removed, renamed or might never existed.</div>
        <div class="error-options">
          <a href="index.html" class="theme-btn btn-style-four">Go Home</a>
            <span class="or">Or</span>
            <!-- Error Search Form -->
            <div class="error-search-box">
                <form method="post" action="http://t.commonsupport.com/dryco/contact.html">
                    <div class="form-group">
                        <input type="search" name="search-field" value="" placeholder="Search" required>
                        <button type="submit"><span class="icon fa fa-search"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Error Section-->
