    <!--Page Title-->
    <section class="page-title" style="background-image:url(assets/images/background/4.jpg)">
    	<div class="auto-container">
        	<h1>Contact Us</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Contact Section-->
    <section class="contact-section">
    	<div class="auto-container">
        	<div class="title-text">Thank you for your interest in the carpet Group. Please fill out the form below to ask a question, leave a statement or to report a technical problem and we will get back to you at our earliest convenience.</div>
            
            <div class="row clearfix">
            
                <!--Contact Info-->
                <div class="contact-info col-md-4 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="icon-box">
                            <span class="icon flaticon-location-pin"></span>
                        </div>
                        <h3>Our Address</h3>
                        <div class="text">Kandana, <br> Sri Lanka</div>
                    </div>
                </div>
                
                <!--Contact Info-->
                <div class="contact-info col-md-4 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="icon-box">
                            <span class="icon flaticon-arroba-2"></span>
                        </div>
                        <h3>Phone & Email</h3>
                        <div class="text">0768619791<br> sasith@gmail.com</div>
                    </div>
                </div>
                
                <!--Contact Info-->
                <div class="contact-info col-md-4 col-sm-6 col-xs-12">
                    <div class="inner">
                        <div class="icon-box">
                            <span class="icon flaticon-share"></span>
                        </div>
                        <h3>Stay In Touch</h3>
                        <div class="text">Also find us on social Media</div>
                        
                        <div class="social-icon-three clearfix">
                            <a href="#" class="facebook"><span class="fa fa-facebook-f"></span></a>
                            <a href="#" class="twitter"><span class="fa fa-twitter"></span></a>
                            <a href="#" class="twitter"><span class="fa fa-google-plus"></span></a>
                            <a href="#" class="twitter"><span class="fa fa-linkedin"></span></a>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
            <!--Form Column-->
            <div class="form-section">
            	<h2>Write Us Message</h2>
                <!--Contact Form-->
                <div class="contact-form">
                    <form method="post" action="" id="contact-form">
                        <div class="row clearfix">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="fname" value="" [(ngModel)]="firstName" placeholder="First Name *" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="lname" value="" [(ngModel)]="lastName" placeholder="Last Name *" required>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <input type="email" name="email" value="" [(ngModel)]="email" placeholder="Email *" required>
                            </div>
                            
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <textarea name="message" placeholder="Message *" [(ngModel)]="message"></textarea>
                            </div>
                            
                            <div class="form-group col-md-12 col-sm-12 col-xs-12 text-left">
                                <button class="theme-btn btn-style-four" (click)="sendMail()">Send Message</button>
                            </div>
                            
                        </div>
                        
                    </form>
                </div>
                <!--End Contact Form-->
                
            </div>
            
		</div>
    </section>
    <!--End Contact Section-->
    
    <!--Map Section-->
    <section class="map-section">
    	<!--Map Outer-->
        <div class="map-outer">
            <!--Map Canvas-->
            <div class="map-canvas"
                data-zoom="12"
                data-lat="-37.817085"
                data-lng="144.955631"
                data-type="roadmap"
                data-hue="#ffc400"
                data-title="Envato"
                data-icon-path="images/icons/map-marker.png"
                data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
            </div>
        </div>
    </section>
	<!--End Map Section-->
