<div class="content">
	<div class="content1">
		<h2>Order Tracking: {{orderId}}</h2>
	</div>
	<div class="content2">
		<div class="content2-header1">
			<p>Pickup up Via : <span>Threewheeler</span></p>
		</div>
		<div class="content2-header1">
			<p>Status : <span>{{currentOrder?.status}}</span></p>
		</div>
		<div class="content2-header1">
			<p>Expected Date : <span>{{currentOrder?.date}}</span></p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="content3">
    <div class="shipment">
			<div class="confirm">
        <div class="imgcircle" [ngStyle]="styles[0]">
            <img src="assets/images/confirm.png" alt="confirm order">
        </div>
				<span class="line" [ngStyle]="styles[0]"></span>
				<p>Assign Driver</p>
			</div>
			<div class="process">
        <div class="imgcircle" [ngStyle]="styles[1]">
            <img src="assets/images/process.png" alt="process order">
        </div>
				<span class="line" [ngStyle]="styles[1]"></span>
				<p>Delivered to Luandry</p>
			</div>
			<div class="quality">
				<div class="imgcircle" [ngStyle]="styles[2]">
            <img src="assets/images/quality.png" alt="quality check">
        </div>
				<span class="line" [ngStyle]="styles[2]"></span>
				<p>Washing</p>
			</div>
			<div class="dispatch">
				<div class="imgcircle" [ngStyle]="styles[3]">
          <img src="assets/images/dispatch.png" alt="dispatch product">
        </div>
				<span class="line" [ngStyle]="styles[3]"></span>
				<p>Finished</p>
			</div>
			<div class="delivery">
				<div class="imgcircle" [ngStyle]="styles[4]">
          <img src="assets/images/delivery.png" alt="delivery">
				</div>
				<p>Delivered</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>