<nav class="main-menu">
  <div class="navbar-header">
      <!-- Toggle Button -->    	
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  </div>
  
  <div class="navbar-collapse collapse clearfix">
      <ul class="navigation clearfix">
          <li class="current"><a [routerLink]="[ '/']">Home</a></li>
          <li><a [routerLink]="['/faq']">FAQ</a></li>
          <li><a [routerLink]="['/contact']">Contact us</a></li>
          <li><a [routerLink]="['/contact']">Login</a></li>
          <li><a [routerLink]="['/contact']">Register</a></li>
      </ul>
  </div>
</nav>