<nav class="main-menu">
  <div class="navbar-header">
      <!-- Toggle Button -->    	
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  </div>
  
  <div class="navbar-collapse collapse clearfix">
      <ul class="navigation clearfix">
          <li class="current"><a [routerLink]="[ '/']">Home</a></li>
          <li><a [routerLink]="['/faq']">FAQ</a></li>
          <li><a [routerLink]="['/contact']">Contact us</a></li>
         
          <ng-container *ngIf="!authService.customerData; else elseTemplate">
            <li><a data-toggle="modal" data-target="#exampleModal">Login/Register</a></li>   
          </ng-container>
          <ng-template #elseTemplate>
            <li><a [routerLink] = "['profile']">Profile</a></li>
            <li><a [routerLink] = "['profile']">My Orders</a></li>
            <li><a (click)="authService.signout()">Logout</a></li>
          </ng-template>
      </ul>
  </div>
</nav>