<nav class="main-menu">
  <div class="navbar-header">
      <!-- Toggle Button -->    	
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  </div>
  
  <div class="navbar-collapse collapse clearfix">
      <ul class="navigation clearfix">
          <li class="current dropdown"><a href="#">Home</a>
              <ul>
                  <li><a href="index.html">Homepage One</a></li>
                  <li><a href="index-2.html">Homepage Two</a></li>
                  <li class="dropdown"><a href="#">Header Styles</a>
                      <ul>
                          <li><a href="index.html">Header Style One</a></li>
                          <li><a href="index-2.html">Header Style Two</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li class="dropdown"><a href="about.html">About Us</a>
              <ul>
                  <li><a href="about.html">About us</a></li>
                  <li><a href="team.html">Our Team</a></li>
                  <li><a href="faq.html">faq</a></li>
                  <li><a href="error-page.html">404 Page</a></li>
              </ul>
          </li>
          <li class="dropdown"><a href="#">Services</a>
              <ul>
                  <li><a href="services.html">Services</a></li>
                  <li><a href="services-2.html">Laundry Service</a></li>
                  <li><a href="services-2.html">dry cleaning service</a></li>
                  <li><a href="services-2.html">silk and dry service</a></li>
                  <li><a href="services-2.html">commercial service</a></li>
              </ul>
          </li>
          <li class="dropdown"><a href="#">Projects</a>
              <ul>
                  <li><a href="projects.html">Our projects</a></li>
                  <li><a href="projects-fullwidth.html">Projects Fullwidth</a></li>
                  <li><a href="projects-single.html">Project Details</a></li>
              </ul>
          </li>
          <li class="dropdown"><a href="#">Blog</a>
              <ul>
                  <li><a href="blog.html">Blog Grid View</a></li>
                  <li><a href="blog-classic.html">Blog with Sidebar</a></li>
                  <li><a href="blog-single.html">Blog Details</a></li>
              </ul>
          </li>
          <li><a href="contact.html">Contact us</a></li>
      </ul>
  </div>
</nav>